<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile:{{ user.username }}</title>
  </head>
  <body>
    <h1>Profile: {{ user.username }}</h1>
    <p>Email: {{ user.email }}</p>
    <p>Bio: {{ user.bio }}</p>
    {% if user.picture_url %}
    <img src="{{ user.picture_url }}" alt="Profile Picture" />
    {% else %}
    <p>No profile picture available.</p>
    {% endif %}
    <h2>Posts:</h2>
    <ul>
      {% for post in user.posts %}
      <li>{{ post.title }} - {{ post.content }}</li>
      {% else %}
      <li>No posts available.</li>
      {% endfor %}
    </ul>
  </body>
</html>
